@{
    ViewBag.Title = "London Transport API. Usage";
}

@section scripts{ 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7A_cvEIGd-iQ9KSvtd4TnV5dooBN07Y">
    </script>

    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/bootstrap.min.js"></script>
    <script src="~/Scripts/lib/angular-bundle.min.js"></script>
    
    <script src="~/Scripts/transport-app.js"></script>
    <script src="~/Scripts/transport-service.js"></script>
}
<div ng-app="londonApp" ng-controller="JourneyController">
    <div class="row journey-planner" ng-form name="journeyForm">

        <div class="col-xs-4">
            <div mass-autocomplete class="autocomplete">
                <input type="text" ng-model="from.name" placeholder="From" name="fromName"
                       mass-autocomplete-item="autocomplete_from_options" required="">
                <div ng-show="journeyForm.$submitted || journeyForm.fromName.$touched">
                    <div class="alert alert-danger" ng-show="journeyForm.fromName.$error.required"> Specify departure point</div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">  
            <button ng-click="reverseLocations()">REVERSE</button>
        </div>
        <div class="col-xs-2">
            <button type="submit" ng-click="getJourneys(from,to); validateForm(journeyForm)">PLAN A JOURNEY</button>
        </div>
        <div class="col-xs-4">
            <div mass-autocomplete class="autocomplete">
                <input type="text" ng-model="to.name"  placeholder="To" name="toName"
                       mass-autocomplete-item="autocomplete_to_options" required="">
                <div ng-show="journeyForm.$submitted || journeyForm.toName.$touched">
                    <div class="alert alert-danger" ng-show="journeyForm.toName.$error.required"> Specify arrival point</div>
                </div>
            </div>
        </div>

    </div>

    <!-- List with disambiguations or List of journeys -->
    <div class="row" ng-show="journeys.hasOwnProperty('$type')">
            
        <!-- Disambiguous results -->
        <div class="row possible-journeys" ng-show="journeys.hasOwnProperty('toLocationDisambiguation') || journeys.hasOwnProperty('fromLocationDisambiguation')">
            <div class="col-md-6">
                <div class="info-message alert alert-warning" ng-show="journeys.fromLocationDisambiguation.matchStatus == 'list'">
                    <span>We found more than one location matching your departure point</span>
                </div>
                <div class="info-message alert alert-warning" ng-show="journeys.fromLocationDisambiguation.matchStatus == 'notidentified'">
                    <span>We can't find stops and places near your location</span>
                </div>
                <div class="list-group">
                    <a ng-click="pickDepartureAddress(j)" ng-class="from.name == j.place.commonName ? 'list-group-item active' : 'list-group-item'" ng-repeat="j in journeys.fromLocationDisambiguation.disambiguationOptions">
                        {{j.place.commonName}}
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-message alert alert-warning" ng-show="journeys.toLocationDisambiguation.matchStatus == 'list'">
                    <span>We found more than one location matching your arrival point</span>
                </div>
                <div class="info-message alert alert-warning" ng-show="journeys.toLocationDisambiguation.matchStatus == 'notidentified'">
                    <span>We can't find stops and places near your location</span>
                </div>
                <div class="list-group">
                    <a ng-click="pickArrivalAddress(j)" ng-class="to.name == j.place.commonName ? 'list-group-item active' : 'list-group-item'" ng-repeat="j in journeys.toLocationDisambiguation.disambiguationOptions">
                        {{j.place.commonName}}
                    </a>
                </div>
            </div>

        </div>

        <!-- Journeys -->
        <div class="row journeys" ng-show="journeys.hasOwnProperty('journeys')">
            <div class="list-group">
                <a class="list-group-item-info list-group-item journey" ng-repeat="j in journeys.journeys" ">
                    <div class="row">
                        <div class="bound-time col-md-2">
                            Departs: <span>{{j.startDateTime.getHours() + ':' + checkTime(j.startDateTime.getMinutes())}}</span>&nbsp;&nbsp;&nbsp;
                            Arrives: <span>{{j.arrivalDateTime.getHours() + ':' + checkTime(j.arrivalDateTime.getMinutes())}}</span>
                        </div>
                        <div class="col-md-4">
                            <ul class="journey-steps clearfix">
                                <li ng-repeat="l in j.legs" ng-class="l.mode.name + '-icon' + ' text-hide'">
                                    {{l.instruction.summary}}
                                    <span class="walking"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 journey-time"><span class="glyphicon glyphicon-time"></span> {{j.duration}} min</div>
                        <div class="col-md-2 show-more" ng-click="changeCurrentJourney(j)"><span>Show on map</span></div>
                        <div class="col-md-2 show-more"><span ng-click="j.isDetailsVisible = !j.isDetailsVisible">Show instruction <span class="glyphicon glyphicon-chevron-down"></span></span> </div>
                    </div>
                    <div class="row" ng-show="j.isDetailsVisible">
                        <div class="col-md-12">
                            <ul class="list-group journey-description">
                                <li ng-repeat="l in j.legs" class="list-group-item list-group-item-text">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <div ng-class="'journey-step ' + l.mode.name + '-icon'"></div>
                                            <div class="journey-step-time">{{l.duration}} min</div>
                                            <div class="journey-step-descrip">{{l.instruction.summary}}</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="show-stops" ng-show="l.path.stopPoints.length != 0">
                                                <span ng-click="$parent.selectedIndex = ($parent.selectedIndex == $index ? -1 : $index)">Show stops <span class="glyphicon glyphicon-chevron-down"></span></span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="$parent.selectedIndex == $index">

                                        <ul class="stops-list">
                                            <li ng-repeat="stop in l.path.stopPoints" class="list-group-item list-group-item-text">
                                                {{stop.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            Or you can specify arrival and destination points just clicking of the map
        </div>
    </div>

    <div class="row map" id="map">
        <div class="col-xs-12">
            <ng-map  center="51.50,-0.12" zoom="10" on-click="clickOnMap(event)">
                <marker position="{{[to.lat, to.lon] }}" icon="{{constants.MARKER_STYLES.TO}}"></marker>
                <marker position="{{[from.lat, from.lon]}}" icon="{{constants.MARKER_STYLES.FROM}}"></marker>
                <shape ng-repeat="leg in currentJourney.legs" name="polyline" id="foo"
                       path="{{leg.path.lineString}}"
                       stroke-color="{{leg.color}}"
                       stroke-opacity="0.4"
                       stroke-weight="4">
                </shape>
                <custom-control id="custom-control" position="TOP_RIGHT" index="1">
                    <div>
                        <div class="icon departure-icon" ng-click="toggleAddressPicking(constants.PickingMode.Departure)" ng-class="pickingMode == constants.PickingMode.Departure ? 'picked' : ''"></div>
                        <div class="icon arrival-icon" ng-click="toggleAddressPicking(constants.PickingMode.Arrival)" ng-class="pickingMode == constants.PickingMode.Arrival ? 'picked' : ''"></div>
                    </div>
                </custom-control>
            </ng-map>
        </div>
    </div>
</div> 