.shadowed {
    -webkit-box-shadow: inset 0px 0px 1px 1px #CBCBCB;
    -moz-box-shadow: inset 0px 0px 1px 1px #CBCBCB;
    box-shadow: inset 0px 0px 1px 1px #CBCBCB;
}

body {
    margin-left:5px;
    background-color:#fefefe;

    .container {
        width:80%;
    }

    .app-name {
        text-align:center;
        h1 {
            .shadowed;
            border: 3px solid #3e3e3e;
            color: #3E3E3E;
            display: inline-block;
            margin-bottom: 0px;
            padding: 3px 55px;
        }
    }

    input {
        &[type='text'] {
            .shadowed;
            border-color: #3E3E3E;
            background-color: transparent;
            color: #3E3E3E;
            font-family: Arial, 'Times New Roman',sans-serif;
            font-size: 1.2em;
            height: 35px;
            padding-left: 8px;

            &:focus {
                outline: none !important;
                box-shadow: 0 0 3px #8ec85a;
            }
        }
    }
    button {
        border: none;
        background-color: #8ec85a;
        color: #FEF7F1;
        font-size: 0.8em;
        font-weight: bold;
        height: 35px;
    }
    .ac-menu-item {
        .col-xs-7 {
            line-height: 32px;
            &:first-child {
            }
        }
        .icon {
            padding:0px;
            margin:0px;
        }
    }

    .types-list {
        padding-left:0px;
        height: 32px;
        display: block;
        li {
            float: right;
            margin: 5px 3px;
            list-style-type: none
        }
    }

    .journey-planner {
        margin-top: 40px;
        margin-bottom: 40px;
        input {
            width: 100%;
        }
        .autocomplete { 
            display: inline-block;
            position:relative;
            width:100%;

            .alert {
                padding: 4px;
                margin-top: 5px;
            }
        }

        button {
            width:80%;

            &:hover {
                background-color: #7ab149;
            }
        }

        div {
            &:nth-of-type(2){
                text-align:right;                
            }
        }
    }

    .journey {
        background-color: #8ec85a;
        color: #FEF7F1;

        &:hover {
            background-color: #7ab149;
            color: #FEF7F1;
        }
        .show-more {
            margin-top: 10px;
        }

        .show-more, .show-stops{
            text-align:right;
            span {
                span {
                    display: inline-block;
                    font-size: 0.9em;
                    top:3px;
                }

                &:hover {
                    color: #31708F;
                    cursor:pointer;
                }
            }
        }

        .stops-list {

        }
    }

    .map {
        margin-top: 40px;
        height: 480px;
        .col-xs-12 {
            height:100%;
            ng-map {
                height: 100%;
            }
        }
        .custom-marker-icon {
            left:10px;        
        }

        #custom-control {
            margin-top: 8px;
            margin-right:8px;
            background-color: #fefefe;
            border: 1px solid #CBCBCB;
            border-radius: 2px;
            height: 30px;

            -webkit-box-shadow: 0px 0px 1px 0px #CBCBCB;
            -moz-box-shadow:  0px 0px 1px 0px #CBCBCB;
            box-shadow: 0px 0px 1px 0px #CBCBCB;

            .picked {
                background-color: #CBCBCB;
            }
            .icon {
                margin: 2px 0 3px 0;
                &:first-child {
                    border-right: solid 1px #CBCBCB;
                }
                
            }

        }
    }
}

/* 
    Journeys 
*/
.journeys {
    padding: 5px 25px;
    font-size: 1.1em;
}

.possible-journeys .list-group {
    font-weight: bold;
    max-height:300px;
    overflow-y: auto;
}

.journeys a.list-group-item {
    padding-top:5px;
    padding-bottom: 5px;
}

.bound-time {
    font-weight:bold;
}

.bound-time span {
    color: #3e3e3e;
}


.journey-time {
    vertical-align:central;
    margin-top: 10px;
    font-size: 1em;
}

ul.journey-steps {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;
    display: inline-block;
    width: 65%;
    padding: 0 5px;
}
ul.journey-steps li {
    float: left;
    margin: 5px 3px;
    position: relative;
    list-style-type: none;
}

.hide-text {
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

/* Journey steps in journey description */
.journey-description li {
    line-height:30px;
    padding: 5px 10px;
    background-color: #FEF7F1;
    color: #31708F;
}

.journey-step {
    display:inline-block;
    margin-left:5px;
    margin-right: 5px;
    float:left;
    width: 30px!important;
}

.journey-step-descrip {
    float:left;
    display:inline-block;
}
.journey-step-time {
    float:left;
    display:inline-block;
    font-weight:bold;
    width: 60px;
}

.icon {
    position: relative;
}




